.google-logo {
  width: 50px;
  height: 50px;
  display: inline;
}

.register-google-button {
  height: 60px;
  width: 250px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 50px;
  border-width: 3px;
  border-radius: 15px;
  border-color: #903434;
  background-color: #fff2e3;
  color: #903434;
  font-size: 18px;
  cursor: pointer;
}

.register-bottom-buttons-layout {
  width: 500px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 60px;
}

.login-to-registration-links {
  width: 150px;
  height: 60px;
  align-content: center;
  text-align: center;
  font-size: 19px;
  color: #F65151;
}

.login-to-registration-links:visited {
  color: #903434;
}

.popup-message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-message {
  background: #fff2e3;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 500px;
  height: 250px;
  color: #651e1e;
  text-align: center;
  font-size: 36px;
  align-content: center;
}

.popup-message-close-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  background: #f65151;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #fff2e3;
  width: 80px;
  height: 30px;
}