@import url("base.css");

body {
  margin: 0px;
  font-family: 'Jaldi';
  height: 100vh;
}

.registration-input {
  width: 500px;
  height: 60px;
  border-radius: 15px;
  background-color: #FFF2E3;
  border-width: 3px;
  font-size: 24px;
  border-color: #903434;
  color: #903434;
}

.big-flat-button {
  width: 100px;
  height: 100px;
  border-radius: 35px;
  border-width: 0px;
}

.accept-button {
  background-color: #D4FDAB;
  color: #651E1E;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.registration-login-label {
  font-weight: bold;
  font-size: 24px;
  color: #903434;
}